@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    font-family: 'Ubuntu Mono', monospace;
  }

  body {
    background: #1a1a1a;
    color: green;
    font-size: 20px;
  }

  h1 {
    text-align: left;
  }

  p {
    max-width: 1280px;
  }

  pre {
    overflow: auto;
  }

  div.container1 {
    margin: auto;
    width: auto;
  }

  div.left {
    float: left;
    width: 400px;
  }

  div.center {
    float: left;
    width: auto;
  }

  div.coderow {
    margin: auto;
    width: auto;
  }

  div.codegreen {
    float: left;
    width: auto;
    color: green;
  }

  div.codeblue {
    float: left;
    width: auto;
    color: blue;
  }

  div.codewhite {
    float: left;
    width: auto;
    color: white;
  }
  .blinking-cursor {
    font-weight: 100;
    font-size: 20px;
    color: #2E3D48;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
  }
  
  @keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }
  
  @-moz-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }
  
  @-webkit-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }
  
  @-ms-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }
  
  @-o-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }