@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

body {
    height: calc(100vh - 8em);
    padding: 4em;
    font-size: large;
    font-family: 'Anonymous Pro', monospace;
    background: #020200;
    color: white;
}

.block a {
    display: block;
}

.inline {
    display: inline;
}

.inline a{
    color: white;
}

.code1 {
    display: inherit;
    color: green;
}
.code2 {
    display: inherit;
    color: blue;
}

.code3 {
    display: inherit;
    color: white;
}

.code3 a {
    color: white;
}

::selection {
    background-color: #0080FF;
    text-shadow: none;
}

.typewriter {
    color: #fff;
    display: inherit;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: white;
    text-align: center;
  }

  .footer a{
    color: white;
    background-color: blue;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white }
  }